#canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

body {
  background-color: #e6ebef;
  height: 100%;
}

#projectTitle {
  color: #292F33;
}

/* #bg2 {

  background-image: url("../res/images/cityscape.jpg");
  background-color: #E6EBEF;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  height: 30vh;
  margin-top: -60vh
} */
#projectSubTitle {
  color: #292F33;
  letter-spacing: 10px;
}

#projectTitleContainer {
  display: inline-block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#topribbon {
  height: 32px;
  background-color: #555555;
}

.btncontainer {
  height: 100%;
  display: table;
}

/* .colbtnContainer{
  display: table-cell;
    height: 100%;
    vertical-align: middle;
} */
.width100 {
  width: 100%;
}

.height100 {
  height: 100%;
  display: table;
}

#btns {
  margin-top: 40px;
  width: auto;
  font-family: cursive;
}

#newbtns button{
  font-size: 10px;
  margin-top: 10px;
  width: auto;
  font-family: cursive;
}

#newArray{
  font-family: cursive;
  font-size: 20px;
  margin-top: 10px;
}

#algoSubType {
  font-family: cursive;
  font-size: 20px;
  margin-top: 40px;
}

#algoSubType option{
  background-color: #ededed;
}

#populationcontainer {
  font-family: cursive;
  font-size: 20px;
  margin-top: 40px;
}

#vizholder {
  background-color: #CED6DC;
  display: flex;
  width: 100%;
  height: 70vh;
  /* optional */
}

#speedcontainer {
  font-family: cursive;
  font-size: 20px;
  margin-top: 40px;
}
